body {
    background-color: hsl(217, 54%, 11%);
    flex-direction: column;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    margin-bottom : 20px;
    height: auto;
    width: 350px;
    max-width:500px;
    box-shadow: 0 0 1px;
    border-radius: 10px;
    background-color: hsl(216, 50%, 16%);
}

.image .nftpict {
    width: 85%;
    margin-right: auto;
    margin-left:auto;
    margin-top:15px;
    margin-bottom:15px;
    border-radius: 10px;
    position : relative;
    display: inline-block;
}
.image .nftpict2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.image:hover .nftpict2{
    display: inline;
}

.item-name-text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    padding-left: 20px;
    text-align: left;
}

.item-exp-text {
    color: hsl(210, 100%, 50%);
    text-align: left;
    margin-left: 20px;;
    margin-right:10%;
    font-size: 18px;
}


.price-logo {
    margin-left :20px;
    width: 100%;
    color :cyan;
    text-align: left;
}

.price-text {
    margin-left:5px;
}

.days {
    float:right;
    color: white;
    margin-right:40px;
}

.creation-text {
    float:left;
    margin: 15px 5px;
    padding-bottom:20px;
    color : white;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.creation {
    margin-bottom:75px;
}

.attribution {
    color: white;
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: rgb(20, 200, 140);
}